.card-album {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(18, 18, 18, 1);
  border-radius: 10px;
}

.card-album:hover {
  background-color: rgba(18, 18, 18, .5);
  transition: all .4s;
}

.image {
  width: 220px;
  object-fit: center;
  border-radius: 10px;
}

.title {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.artist {
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: white;
  color: #212121;
}

button:hover {
  background: #6384B1;
  background: -webkit-linear-gradient(top left, #6384B1, #5041A9);
  background: -moz-linear-gradient(top left, #6384B1, #5041A9);
  background: linear-gradient(to bottom right, #6384B1, #5041A9);
  color: white;
  transition: all .4s;
}